body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {text-align: center;}

img {
    /* position: relative; */
    width: 1024p×;
    height: 768px;
}

table, th, td {
    border: 1px solid grey;
  }


